// Sass Architecture Structure:
// https://gist.github.com/AdamMarsden/7b85e8d5bdb5bef969a0

// css reset file
@import "./base/reset.scss";

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}
